<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid text-white">
        <h4 class="navbar-brand text-dark">Nuevos Medios</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-3">
          <span style="cursor:pointer" aria-current="page" routerLink="/">Home</span>
        </div>
      </div>
      <div class="float-right me-4">
        <i style="cursor:pointer" class="fas fa-user-alt" routerLink="/login"></i>
      </div>
    </div>
  </nav>
