
<div class="container" *ngFor="let content of listContent let i = index">
  <div class="card mb-2 text-start">
    <div class="container card-header">
      <div class="row">
        <div class="col-lg-11">{{content.category}}</div>
        <div class="col-lg-1">
          <i class="fas fa-check-circle"></i>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{content.title}}</h5>
      <p class="card-text">
        {{content.description }}
      </p>
      <div class="text-end">
        <a routerLink="/detail/{{content.id}}" class="btn btn-primary" (click)="sendingContent(content)">Detail</a>
      </div>
    </div>
  </div>
</div>
