<app-navbar></app-navbar>
<div class="container mt-6 text-center">
    <div class="row mt-4">
        <div class="col-lg-3">
            <app-side-bar (newFilterEvent)="handlerChange($event)"></app-side-bar>
        </div>
        <div class="col-lg-8 max-height" [ngClass]="{scroll:lengthArray > 2}">
            <app-card-contenido 
            [filterContent]="(currentFilter)"
            (lengthArray)="handlerLengthArray($event)"
            ></app-card-contenido>
        </div>
    </div>
</div>
